<!DOCTYPE html>
<html>
  <head>
    <title>Loja</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= nav_bar brand: "Loja", brand_link: root_url do %>
    <%= menu_group do %>
      <%= menu_item "Criar novo produto", produtos_new_path %>
    <% end %>
  <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
